@model ProjectMVC.Models.AccountViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<p>
    @using (Html.BeginForm("Search", "Account", FormMethod.Get))
    {
        @Html.TextBox("id")
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationalid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateofbirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languagelevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lineofbusiness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nationalid)
            </td>
            <td>
                @Html.DisplayFor(model => model.Dateofbirth)
            </td>
            <td>
                @Html.DisplayFor(model => model.Language)
            </td>
            <td>
                @Html.DisplayFor(model => model.Languagelevel)
            </td>
            <td>
                @Html.DisplayFor(model => model.Account1)
            </td>
            <td>
                @Html.DisplayFor(model => model.Lineofbusiness)
            </td>
            <td>
             

                <a asp-action="Edit" asp-route-id="" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@Html." class="btn btn-danger">Delete</a>
                

            </td>
        </tr>
<div>
    <a asp-action="Index">Back to List</a>
</div>